<!DOCTYPE html>

<html lang="pt-br">

<head>
	<meta charset="UTF-8"/>
	<title>	IFSP SJC - Ofertas > Oferta 1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="1.css">
	
</head>
<body onLoad="slide1()">
	<div id="interface">
			<header id="cabecalho">		
        <div id=class>
        <div id=cabecalho>
            <h1>IFSP SJC - Ofertas</h1>
            </div>
            <div id="menu">
                <<a href="index.html">Pagina Inicial</a>
                <a>Engenharia de Controle e Automação</a>
                <a>Engenharia Mecânica</a>
                <a>Técnicos</a>
                <a>Sobre</a>
            </div>
        </div>
		</header>
		<article id="noticia-principal">
			<header id="cabecalho-artigo">	
			
				<hgroup>
				
					<h3>
					IFSP SJC - Ofertas &nbsp; >&nbsp
					<a href="index.html">Pagina Inicial</a>	&nbsp >		
					</h3>
					
				</hgroup>
				<h1 id="nome-produto">ECA - Estágio na Embraer</h1>
				
			<div class="linha1detalhes">	
			
				<div class="esquerdaLinha">
					<img class="paginaProduto" src="_imagens/eca1.png"/>
				</div>
				
				<div class="direitaLinha"> <h3> de R$1001,00 até R$2000,00 </h3>
					<h1> Avenida Brigadeiro Faria Lima, 2170 </h1>
					<p> Atuar com programação, software SCADA, rede/TI, automação industrial teórico e em campo / protocolo de comunicação básica, elétrica e potência.
Conhecimento na função. Treinamento Elipse E3 Desenvolvedores é desejável. Treinamento Elipse Power HMI é desejável.
Cursando Ensino Superior em Engenharia de Controle e Automação</p>
				</div>
			</div>	
			</header>
            </div>
		<footer id="rodape">

		</footer>
	</div>
</body>
</html>